body {
    @include backgroundDiagonalGradient($backgroundPrimaryColor, $backgroundSecondaryColor);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $defaultHeaderFont;
}

a {
    color: $defaultLinkColor;
    &:hover {
        color: $defaultLinkHoverColor;
    }
}

div#container {
    width: 80%;
    margin: 0 auto;
    div {
        @include text($lineHeight: 2em);
        @include background($color:$backgroundColorContainer);
        padding: 15px;
        &.header {
            margin: 0 0 20px 0;
            min-height: 75px;
            img.sassLogo {
                height: 75px;
                width: 100px;
                float:left;
                margin-right: 15px;
            }
            h1 {
                font-size: 1.4em;
                display: inline-block;
                padding-top: 30px;
            }
            div.headerLinks {
                float:right;
            }
        }
        &.content {
            //@include opacity(50);
        }
        &.footer {
            height: 90px;
            div {
                display: inline-block;
                &.author {
                    padding-top:20px;
                }
                &.socialMedia {
                    float: right;
                    a {
                        $socialMediaSize: 32px;
                        height: $socialMediaSize;
                        width: $socialMediaSize;
                        display: block;
                        padding: 0;
                        &.twitter {
                            @include background($sizeWidth:$socialMediaSize, $sizeHeight:$socialMediaSize, $image: "../img/twitter_circle_black-64.png");
                        }
                        &.linkedin {
                            @include background($sizeWidth:$socialMediaSize, $sizeHeight:$socialMediaSize, $image: "../img/linkedin_circle_black-64.png");
                            margin-top:10px;
                        }
                    }
                }
            }
        }
    }
}