body {
    @include backgroundDiagonalGradient($backgroundSecondaryColor, $backgroundPrimaryColor);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $defaultHeaderFont;
}

h1 {
    font-size: 1.6em;
    padding-left: 15px;
}

a {
    color: $defaultLinkColor;
    text-align: center;
    transition: 2s;
    &:hover {
        color: $defaultLinkHoverColor;
    }
}

#container {
    width: 90%;
    min-width: 230px;
    margin: 0 auto;
    @include background($color:$backgroundColorContainer, $alpha: 50);
}

header {
    min-height:180px;
    @include text();
    margin: 0;
    border-bottom: 3px groove black;
    padding-bottom: 10px;
    img.sassLogo {
        height: 150px;
        width: 200px;
        float:left;
        padding: 15px;
    }
    nav {
        padding-left: 15px;
    }
    nav {
        ul {
            padding: 0;
            margin: 0;
            overflow: hidden;
            li {
                list-style: none;
            }
        }
    }
}
main {
    @include text($lineHeight: 1.5em);
    @include opacity(80);
    border-bottom: 3px groove black;
    padding: 10px 15px;
    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}
footer {
    $socialMediaSize: $socialMediaSizeDefault;
    padding: 15px 15px $socialMediaSize + 10px 15px;
    section {
        //display: block;
        &.socialMedia {
            float: left;
            a {
                height: $socialMediaSize;
                width: $socialMediaSize;
                display: inline-block;
                padding: 0;
                &.twitter {
                    background-image: url("../img/twitter_circle_black-64.png");
                    background-size: $socialMediaSize $socialMediaSize;
                    //@include background($sizeWidth: $socialMediaSize, $sizeHeight: $socialMediaSize, $image: "../img/twitter_circle_black-64.png");
                    &:hover {
                        background-image: url("../img/twitter_circle_black-64_white.png");
                    }
                }
                &.linkedin {
                    background-image: url("../img/linkedin_circle_black-64.png");
                    background-size: $socialMediaSize $socialMediaSize;
                    //@include background($sizeWidth: $socialMediaSize, $sizeHeight: $socialMediaSize, $image: "../img/linkedin_circle_black-64.png");
                    &:hover {
                        background-image: url("../img/linkedin_circle_black-64_white.png");
                    }
                }
            }
        }
        &.copyright {
            font-size: 8pt;
            float: right;
            line-height: $socialMediaSize;
            a:hover {
                color: $backgroundSecondaryColor;
            } 
        }
    }
}