@media (min-width: $screen-sm) {
    h1 {
        letter-spacing: 0.6px;
    }

    header {
        h1 {
            padding-top: 105px;
        }

        nav {
            position: absolute;
            top:15px;
            right: 20%;
            padding-top: 25px;
        }
    }

    footer {
        $socialMediaSize: $socialMediaSizeSmall;
        padding-bottom: $socialMediaSize + 10px;
        section {
            &.socialMedia {
                a {
                    height: $socialMediaSize;
                    width: $socialMediaSize;
                    &.twitter {
                        @include background($sizeWidth: $socialMediaSize, $sizeHeight: $socialMediaSize, $image: "../img/twitter_circle_black-64.png");
                    }
                    &.linkedin {
                        @include background($sizeWidth: $socialMediaSize, $sizeHeight: $socialMediaSize, $image: "../img/linkedin_circle_black-64.png");
                    }
                }
            }
            &.copyright {
                font-size: 11pt;
                line-height: $socialMediaSize;
            }
        }
    }
}
