@media (min-width: $screen-lg) {
    h1 {
        font-size: 3.5em;
    }

    header {
        h1 {
            padding-top: 70px;
        }
    }

    footer {
        $socialMediaSize: $socialMediaSizeLarge;
        padding-bottom: $socialMediaSize + 10px;
        section {
            &.socialMedia {
                a {
                    height: $socialMediaSize;
                    width: $socialMediaSize;
                    &.twitter {
                        @include background($sizeWidth: $socialMediaSize, $sizeHeight: $socialMediaSize, $image: "../img/twitter_circle_black-64.png");
                    }
                    &.linkedin {
                        @include background($sizeWidth: $socialMediaSize, $sizeHeight: $socialMediaSize, $image: "../img/linkedin_circle_black-64.png");
                    }
                }
            }
            &.copyright {
                font-size: 12pt;
                font-style: italic;
                line-height: $socialMediaSize - 6px;
            }
        }
    }
}
