
/******************************************************************/
/************************** DEFAULT *******************************/
/******************************************************************/
$appVersion: "1.0.0";

/******************************************************************/
/*************************** COLORS *******************************/
/******************************************************************/

$defaultTextColor: #000000;
$defaultLinkColor: $defaultTextColor;
$defaultLinkHoverColor: #26004A;

$backgroundPrimaryColor: #000000;
$backgroundSecondaryColor: #26004A;
$backgroundColorContainer: #eeeeee;

/******************************************************************/
/**************************** FONT ********************************/
/******************************************************************/
// Path relevant from www/css folder.
//$fontPath: "../fonts";


$defaultFont: "Helvetica World", "Helvetica", "Garamond", "Segoe UI", sans-serif;
$defaultHeaderFont: "Helvetica World", "Helvetica", "Garamond", "Segoe UI", sans-serif;;

// --------------------------------------------------
// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs: 480px;
$screen-phone: $screen-xs;

// Small screen / tablet
$screen-sm: 768px;
$screen-tablet: $screen-sm;

// Medium screen / tablet or small desktop
$screen-md: 992px;
$screen-desktop: $screen-md;

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-desktop: $screen-lg;

// Extra large screen / extra wide desktop
$screen-xl: 1550px;
$screen-xl-desktop: $screen-xl;



///////////////
$socialMediaSize: 64px;