@media (min-width: $screen-lg) {
    body {
        @include backgroundDiagonalGradient(#aaaaaa, #ff0000);
    }
    
    div#container {
        div {
            &.header {
                min-height: 150px;
                img.sassLogo {
                    height: 150px;
                    width: 200px;
                }
                h1 {
                    font-size: 2.5em;
                }
            }
        }
    }
}
