body {
    background: linear-gradient(to bottom right, $backgroundSecondaryColor, $backgroundPrimaryColor);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $defaultHeaderFont;
}
h1 {
    font-size: 2.5em;
    letter-spacing: 3.5px;
}
h2 {
    font-size: 1.5em;
}

a {
    color: $defaultLinkColor;
    text-align: center;
    transition: 0.3s;
    &:hover {
        color: $defaultLinkHoverColor;
    }
}

#container {
    width: 90%;
    @include color($type: bg, $color:$backgroundColorContainer, $alpha: 50);
    margin: 0 auto;
}

header {
    min-height:180px;
    margin: 0;
    @include border($position: bottom, $size: 3px, $type: groove, $color: $borderColor);
    padding-bottom: 10px;
    #headerContainer {
        width: 335px;
        text-align: center;
        margin: 0 auto;
    }
    h1 {
        text-align: left;
        padding-left: 15px;
        margin: 0 0 15px;
    }
    img.sassLogo {
        //height: 150px;
        //padding: 15px;
        width: 320px;
        padding-top: 15px;
        margin: auto 0;
    }
    nav {
        margin-bottom: 10px;
        ul {
            padding: 0 15px;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                &:not(:first-of-type) {
                    margin-left: 89px;
                }
            }
        }
    }
}
main {
    line-height: 1.5em;
    @include opacity(80);
    border-bottom: 3px groove black;
    padding: 10px 15px;
    h2 {
        margin-top: 0;
    }
    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-top: 0;
        margin-bottom: 5px;
    }
}
footer {
    $socialMediaSize: $socialMediaSizeDefault;
    padding: 15px 15px $socialMediaSize + 10px 15px;
    section {
        &.socialMedia {
            float: left;
            a {
                height: $socialMediaSize;
                width: $socialMediaSize;
                display: inline-block;
                padding: 0;
                &.twitter {
                    background-image: url($twitterImageLocation);
                    background-size: $socialMediaSize $socialMediaSize;
                    &:hover, .preload {
                        background-image: url($twitterImageHoverLocation);
                    }
                }
                &.linkedin {
                    background-image: url($linkedinImageLocation);
                    background-size: $socialMediaSize $socialMediaSize;
                    &:hover, .preload {
                        background-image: url($linkedinImageHoverLocation);
                    }
                }
            }
        }
        &.copyright {
            font-size: 9pt;
            float: right;
            line-height: $socialMediaSize;
            a:hover {
                color: $backgroundSecondaryColor;
            } 
        }
    }
}

.preload, .hide {
    display: none;
}