h1 {
  letter-spacing: 2px;
}

#container {
  width: 60%;
}

header {
  nav {
    font-size: 1.2em;
    right: 20%;
    margin-right: 15px;
    ul {
      padding: 0;
    }
  }
}

main {
  h2 {
    margin-top: 15px;
  }
}
