//******************************************************************//
//************************** DEFAULT *******************************//
//******************************************************************//

$app-version: "1.0.0";

//******************************************************************//
//*************************** COLORS *******************************//
//******************************************************************//

$default-text-color: black;
$default-link-color: $default-text-color;
$default-link-hover-color: #cc6699;

$background-color-primary: #cc6699;
$background-color-secondary: white;
$background-color-container: transparent;

$default-border-color: black;

//******************************************************************//
//**************************** FONT ********************************//
//******************************************************************//

$default-font-family: "Lato", "Helvetica World", "Helvetica", "Garamond", "Segoe UI", sans-serif;
$default-headers-font-family: $default-font-family;

//******************************************************************//
//******************** MEDIA QUERY BREAKPOINTS *********************//
//********************* (SAME AS BOOTSTRAP 3) **********************//
//******************************************************************//

// Extra small screen / phone
$screen-xs: 480px;
$screen-phone: $screen-xs;

// Small screen / tablet
$screen-sm: 768px;
$screen-tablet: $screen-sm;

// Medium screen / tablet or small desktop
$screen-md: 992px;
$screen-desktop: $screen-md;

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-desktop: $screen-lg;

// Extra large screen / extra wide desktop
$screen-xl: 1550px;
$screen-xl-desktop: $screen-xl;

//******************************************************************//
//**************************** SIZES *******************************//
//******************************************************************//

$social-media-size-default: 20px;
$social-media-size-small: 30px;
$social-media-size-large: 46px;

//******************************************************************//
//************************** LOCATIONS *****************************//
//******************************************************************//

$twitterImageLocation: "../img/twitter_circle_black-64.png";
$twitterImageHoverLocation: "../img/twitter_circle_white-64.png";
$linkedinImageLocation: "../img/linkedin_circle_black-64.png";
$linkedinImageHoverLocation: "../img/linkedin_circle_white-64.png";